<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646973826079-1l2ta17js0u06lj1reo54mghdpd4nvke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646973826079-1l2ta17js0u06lj1reo54mghdpd4nvke</string>
	<key>API_KEY</key>
	<string>AIzaSyCORkaPzWSxG-Uui8CGTjoM2aVwzRrqHdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>646973826079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moonjs.StudyUI</string>
	<key>PROJECT_ID</key>
	<string>memoji-79d52</string>
	<key>STORAGE_BUCKET</key>
	<string>memoji-79d52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646973826079:ios:289d103c5de8df6442612a</string>
</dict>
</plist>